html {
  height: 100%;
}

.title {
    position: fixed;
    color: rgb(255,153,51);
    width: 100%;
    text-align: center;
    left: 0;
    padding-top: 20px;
    font-family: 'Raleway', sans-serif;
}

body {
    background: gray;
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
    background-size: cover;
    height: 100%;
}

.footer {
    position: fixed;
    color: rgb(255,153,51);
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-bottom: 60px;
 }

#outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
    background-attachment: fixed;
    margin:0;
    height: 120%;
}

#app {
    animation: fadein ease-out 1.4s;
}
