/* card */
.cardcont {
  border-radius: 3px;
  width: 100%;
  height: 575px;
  background: rgba(0, 30, 40, 0.80);
}

/* poster */
.poster-container {
  .poster {
    position: relative;
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
}

/* meta data */
.meta-data-container {
  padding: 15px;
  color: #fafafa;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2em;
  }

  .additional-details {
    margin: 35px 0 300px;
    font-family: 'Raleway', sans-serif;

    .genre-list {
      display: block;
      color: rgb(255, 153, 51);
      font-size: 1.4em;
    }

    .release-details {
      div {
        &:nth-child(n+3) {
          margin-top: 15px;
        }
      }
    }
  }

  .meta-data {
    display: block;
    color: rgb(255, 153, 51);
    font-size: 1.6em;
    line-height: 1.1em;
  }
}

@include media-breakpoint-up(sm) {

  .meta-data-container {
    padding: 25px;
  }
}

@include media-breakpoint-up(md) {

  .poster-container {
    .poster {
      border-radius: 3px 0 0 3px;
    }
  }

  .meta-data-container {
    padding: 25px;
    h1 {
      font-size: 2.5em;
    }
  }
}
